{% extends "_layout" %}
{% set bodyClass = "historien" %}

{% block content %}
	{# {% cache until midnight %}{% minify %} #}

	<section class="underside-wrapper row">

		{% for blokk in entry.tekstblokkNeo %}

			{% set bilde = '' %}
			{% set tekst = '' %}
			{% set posisjon = '' %}

			{% if blokk.tekst %}
				{% set tekst = 'tekst' %}
			{% endif %}

			{% if blokk.bilde | length %}
				{% set bilde = 'bilde' %}
				{% set posisjon = blokk.posisjonBilde %}
			{% endif %}

			<section class="historien-blokk {{bilde}} bilde-{{posisjon}} {{tekst}} clearfix">

				{% if bilde %}
				{% set img = blokk.bilde | length ? blokk.bilde.first %}
	      	{% set bilde_stor = craft.imager.transformImage(img.url, [
	          { width: 320 },
	      		{ width: 840 },
	      		{ width: 1360 },
	          ]) %}
						<img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-srcset="{{bilde_stor[0].url}} 400w, {{bilde_stor[1].url}} 767w, {{bilde_stor[2].url}}" alt="{{img.title | default("")}}">
				{% endif %}

				{% if bilde == '' and tekst %}
					<div class="mengdetekst full">
						{{blokk.rikTekst}}
					</div>
				{% elseif tekst %}
					<div class="mengdetekst">
						{{blokk.rikTekst}}
					</div>
				{% endif %}

			</section>

		{% endfor %}

	</section>




	{# {% endminify %}{% endcache %} #}
{% endblock %}
