{% extends "_layout" %}
{% set bodyClass = "publisert" %}

{% block content %}
	{# {% cache until midnight %}{% minify %} #}

	<section class="underside-wrapper row">
		<h2>Publisert</h2>

		{% for artikkel in entry.publisert %}

		{% set img = artikkel.bilde.first | default(false) %}
		{% set bilde = craft.imager.transformImage(img, [
			{ width: 400, height: 300 },
			], { ratio:"16/9" }) %}

			<article class="publisert--item">
				<a href="{{artikkel.lenke}}" target="_blank">
					<img class="lazyload" src="{{ craft.imager.base64Pixel(16, 9) }}" data-srcset="{{bilde[0].url}}" alt="{{img.title | default("")}}">
					<div class="publisert--item-overlay">
						<header>{{artikkel.tittel}}</header>
						<span>Publisert: {{artikkel.publisert}}</span>
					</div>
				</a>
			</article>

		{% endfor %}

	</section>




	{# {% endminify %}{% endcache %} #}
{% endblock %}
