{% if craft.maintenance is defined and (isSiteMaintenance or (currentUser and currentUser.admin and isCpMaintenance)) %}
{% set announcement = craft.maintenance.getAnnouncement() %}
<style>
	@font-face { font-family: 'Craft'; src: url("{{siteUrl}}admin/resources/fonts/Craft.eot?x=eNS1HMJQR"); src: url("{{siteUrl}}admin/resources/fonts/Craft.eot?#iefix&x=eNS1HMJQR") format("embedded-opentype"), url("{{siteUrl}}admin/resources/fonts/Craft.woff?d=1453217565") format("woff"), url("{{siteUrl}}admin/resources/fonts/Craft.ttf?x=eNS1HMJQR") format("truetype"), url("{{siteUrl}}admin/resources/fonts/Craft.svg#Craft?x=eNS1HMJQR") format("svg"); font-weight: normal; font-style: normal; }

	#maintenance-alerts {
		position: fixed;
		top:0;
		left: 0;
		right: 0;
		background: #da5a47;
		padding: 9px 0;
		text-align: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		color: #fff;
		margin: 0;
		font-family: 'HelveticaNeue', sans-serif;
		z-index: 99999;
	}

	#maintenance-alerts li {
		padding: 4px 24px;
	}

	#maintenance-alerts li:before {
    font-family: 'Craft';
    speak: none;
    -webkit-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga=1, dlig=1";
    -moz-font-feature-settings: "liga", "dlig";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    text-rendering: optimizeLegibility;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    text-align: center;
    font-style: normal;
    vertical-align: middle;
    word-wrap: normal !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    content: 'alert';
    font-size: 16px;
	margin-right: 5px;
</style>
<ul id="maintenance-alerts"><li>{{ isCpMaintenance and not isSiteMaintenance ? 'Backend v' : (isCpMaintenance and isSiteMaintenance ? 'V' : 'Frontend v') }}edlikehold pågår.<br/><small>Startet {{ announcement.startDate | date("d.m H:i") }}, planlagt slutt er {{ announcement.endDate | date("d.m H:i") }}</small></li></ul>
{% endif %}
